@charset "utf-8";

/*** CSS reset ***/
@import url("/styles/reset.css");
/*** Webfonts ***/
@import url("/styles/webfont-NanumSquare.css");
@import url("/styles/webfont-NanumMyeongjo.css");
@import url("/styles/webfont-NanumBarunGothic.css");
/*** Only applied to IE11 ***/
@import url("/styles/ie11-patch.css");

/*** Common ***/
html, html * {
    box-sizing: border-box;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}
mark {
    background-color: transparent;
    color: inherit;
}

/*** Typography ***/

/*** Layout ***/

/*** Modules ***/

/*** Details ***/
/* BEGIN::body */
    body {
    }
/* END::body */
/* BEGIN::header */
    body {
    }
/* END::header */

/*** Animations ***/

/*** Scaffolding ***/
