@font-face {
    font-family: 'Noto Sans CJK KR';
    font-weight: 700;
    src: local('Noto Sans CJK KR Bold'),
    url('/webfonts/NotoSansKR/NotoSansKR-Bold.woff2') format('woff2'),
    url('/webfonts/NotoSansKR/NotoSansKR-Bold.woff') format('woff'),
    url('/webfonts/NotoSansKR/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-weight: 500;
    src: local('Noto Sans CJK KR Medium'),
    url('/webfonts/NotoSansKR/NotoSansKR-Medium.woff2') format('woff2'),
    url('/webfonts/NotoSansKR/NotoSansKR-Medium.woff') format('woff'),
    url('/webfonts/NotoSansKR/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-weight: 400;
    src: local('Noto Sans CJK KR Regular'),
    url('/webfonts/NotoSansKR/NotoSansKR-Regular.woff2') format('woff2'),
    url('/webfonts/NotoSansKR/NotoSansKR-Regular.woff') format('woff'),
    url('/webfonts/NotoSansKR/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-weight: 300;
    src: local('Noto Sans CJK KR Light'),
    url('/webfonts/NotoSansKR/NotoSansKR-Light.woff2') format('woff2'),
    url('/webfonts/NotoSansKR/NotoSansKR-Light.woff') format('woff'),
    url('/webfonts/NotoSansKR/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    font-weight: 100;
    src: local('Noto Sans CJK KR Thin'),
    url('/webfonts/NotoSansKR/NotoSansKR-Thin.woff2') format('woff2'),
    url('/webfonts/NotoSansKR/NotoSansKR-Thin.woff') format('woff'),
    url('/webfonts/NotoSansKR/NotoSansKR-Thin.otf') format('opentype');
}
